extends ../layout

block content

  if obj
    table
      thead
        div.restaurantHeader
          h1= 'gTables - Admin'
          a(class='newEats', href='/new') New Restaurant
          a(class='adminView', href='/admin') Admin View
            
      tbody
        for restaurant in obj
          div.restaurantList
            h3
            a.name(href='/'+restaurant.id)
              h5= restaurant.name
            img(src=restaurant.image)
            h5= restaurant.city + ', ' + restaurant.state
            h5= restaurant.cuisine
            h6= restaurant.rating
              
